.top {
  background-color: $black;
  background-size: cover;

  @include breakpoint(small) {
    $height: 320px;
    color: $primary-color;
    height: $height;
    text-align: center;

    h1 {
      line-height: $height;
    }
  }
  @include breakpoint(medium) {
    $height: 420px;
    background-image: url('../img/large-top-bg.svg');
    height: $height;

    h1 {
      line-height: $height;
    }
  }
  @include breakpoint(large) {
    $height: 500px;
    height: $height;

    h1 {
      line-height: $height;
    }
  }
}
