h1,
h2,
h3,
h4,
p {
  @include breakpoint(small) {
    text-align: center;
  }
}

.top {
  background-color: $black;
  background-size: cover;

  @include breakpoint(small) {
    $height: 320px;
    background-image: url('../img/medium-top-bg.svg');
    color: $primary-color;
    height: $height;
    text-align: center;

    h1 {
      font-weight: $global-weight-bold;
      line-height: $height;
    }
  }
  @include breakpoint(medium) {
    $height: 420px;
    background-image: url('../img/large-top-bg.svg');
    height: $height;

    h1 {
      line-height: $height;
    }
  }
  @include breakpoint(large) {
    $height: 500px;
    height: $height;

    h1 {
      line-height: $height;
    }
  }
}

.callout {
  text-align: center;
  @include breakpoint(small) {
    padding: rem-calc(100px) 0;
  }
  @include breakpoint(medium) {
    padding: rem-calc(120px) 0;
  }
  @include breakpoint(large) {
    padding: rem-calc(150px) 0;
  }

  .large {
    font-size: $global-font-size * 1.25;
  }
}

.updates {
  h2 {
    color: $primary-color;
    font-weight: $global-weight-bold;

  .update {
    margin: 0 0 rem-calc(50px);
  }

  }
}
