doctype html

html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width", initial-scale="1.0")
    title L04ded Robot
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i")
    link(rel="stylesheet", href="css/app.css")

  body
    section.top
      .row
        .small-12.columns
          h1 team l04d3d

    section.callout
      .row
        .small-12.columns
          p.large loaded to the maxx with heavy-duty ideas

    section.updates
      .row
        .small-12.columns
          h2 Project Updates

      .row.update
        .small-12.medium-8.large-6.columns.small-centered
          h3 Update 2
          p.timestamp September 15 @ 10:50
          p Project is running along, first version of bot Bot and code is coming together nicely.

      .row.update
        .small-12.medium-8.large-6.columns.small-centered
          h3 Update 1
          p.timestamp September 12 @ 22:11
          p The first version of the website is up and running! Project updates will post here when we have them.
